* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body {
    background-color: #F2F6F5;
    margin: 0px;
    overflow-x: hidden; 
}


.page {
    display: grid;
}

.nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 5%;
    margin-top: 3%; 
    margin-right: 7%;
}

.nav a {
    display: block;
    text-decoration: none;
    color: black;
}

.menu {
    display: none;
}

.exit {
    display: none;
}

.cart
 {
    display: none;
}

/* footer section */
.footer {
    background-color: #808080;
    line-height: 1.5;
    font-size: 20px;
    padding: 2%;
    color: white;
  }
  
  .footer .new-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 15%;
  }
  
  .footer .links .first {
    font-weight: 700;
    font-size: 25px;
  }
  
  .footer .contact .second {
    font-weight: 700;
    font-size: 25px;
  }
  
  .footer .connect .third {
    display: flex;
    display: block;
    font-weight: 700;
    font-size: 25px;
  }
  
  .info-links {
    color: rgb(230, 227, 227);
  }
  
  .info-text {
    color: rgb(230, 227, 227);
  }
  
  .info-connect {
    display: flex;
    gap: 40px;
  }
  
  .footer .copyright {
    font-weight: lighter;
    font-size: 20px;
    color: white;
    display: grid;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  .footer .new-footer {
    margin-left: 20%;
  }

  .footer .new-footer .links .first{
    font-size: 1.4rem ;
  }
  .footer .new-footer .links .info-links{
    font-size: 1rem ;
  }
  .footer .new-footer .contact .second{
    font-size: 1.4rem ;
  }
  .footer .new-footer .contact .info-text{
    font-size: 1rem ;
  }
  .footer .new-footer .connect .third{
    font-size: 1.4rem ;
  }

  .footer .copyright{
    font-size: 1rem ;
    text-align: center;
  }


img {
    POSITION: RELATIVE;
    TOP: -83PX;
    width: 50%;
    margin-bottom: 20%;
}

.title {
    WIDTH: 30%;
    POSITION: ABSOLUTE;
    RIGHT: 150px;
    TOP: 100px;
    PADDING: 10PX;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-weight: lighter;
    color: grey;
    font-size: 15px;
}

.tatou {
    POSITION: ABSOLUTE;
    RIGHT: 5%;
    TOP: 15%;
    PADDING: 10PX;
    font-weight: bold;
    line-height: 2;
    font-size: 1.5rem;
}


@media screen and (max-width: 980px){
    img {
        margin-bottom: 40%;
    } 

    .footer .new-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px){
    img {
        margin-bottom: 60%;
    } 

    .footer .new-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 680px){
    img {
        margin-bottom: 80%;
    } 
}

@media screen and (max-width: 612px) {
    * {
        overflow-x: hidden;
      }
         .nav ul {
            display: none;
            list-style: none;
            margin-left: 10%;
            margin-top: 20%;
            padding-left: 4%;
            padding-right: 4%;
            margin-left: 20%;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            display: flex;
            display: block;
            width: 60%;
          }
          .nav .index-class {
            margin-top: 10%;
          }
          .nav .cart-class {
            margin-top: 10%;
          }
          .nav .propos-class {
            margin-top: 10%;
          }
          .nav .contact-class {
            margin-top: 10%;
          }
          .nav a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 2rem;
            color: white;
            padding: 2%;
          }
          .nav {
            position: absolute;
            left: -100%;
            width: 100%;
          }
          .active {
            width: 100%;
            left: 0%;
            z-index: 12;
          }
      
      .menu {
        display: block;
        position: relative;
        z-index: 12;
        color: white;
        left: 80%;
        margin-top: 5%;
        font-size: 2rem;
        padding-bottom: 5%;
        cursor: pointer;
      }
    
      .exit {
        display: block;
        margin-left: 10%;
        margin-top: 10%;
        font-size: 2rem;
        padding-bottom: 5%;
        cursor: pointer;
      }
    
      .cart {
        padding-left: 35%;
        padding-top: 10%;
      }
     /* new nav section */


    img {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .apropos{
        position: relative;
        z-index: 20;
        color: #fff;
    }
    
    .title {
        position:relative;
        width: 80%;
        
        left: 10%;
        color: grey;
        margin-top: 40%;
        margin-bottom: 5%;
    }

    h1 {
        color: black;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 20%;
    }


    .tatou {
        position: relative;
        font-weight: bold;
        font-size:large;
        line-height: 3;
        left: 5%;
        top: -30%;
        margin-bottom: 10px;
    }

    h3 {
        font-weight: lighter;
        line-height: 1.5;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .middle {
        margin-bottom: -450px;
    }

    .index-class {
        text-align: center;
        background-color: rgb(220, 213, 213);
        border: none;
        border-radius: 20px;
    }

    .cart-class {
        text-align: center;
        background-color: rgb(220, 213, 213);
        border: none;
        border-radius: 20px;
    }

    .contact-class {
        text-align: center;
        background-color: rgb(220, 213, 213);
        border: none;
        border-radius: 20px;
        margin-bottom: 15%;
    }

    .propos-class {
        text-align: center;
        background-color: rgb(220, 213, 213);
        border: none;
        border-radius: 20px;
    }

    .footer .copyright{
        font-size: 1rem ;
        text-align: center;
      }
}